
$fs-manager-height: 40vh;
.fs-manager-section {
  width: calc(100vw - 4vh);
  height: 50vh;

  padding: 2vh;

  display: grid;
  grid-template-rows: 1fr $fs-manager-height;
  row-gap: 3.3vh;
}
.fs-manager-wrapper { height: $fs-manager-height; } // crunch | be careful!!!

.fs-url {
  font-size: calc(2.5vh - 0.1vw);
  margin-left: 1.8vw;
  margin-top: 1vw;
}


$fs-entity-width: max(9vh, 8vw);
.fs-manager {

  width: calc(100vw - 4vh);

  display: grid;
  grid-template-columns: repeat(auto-fill, $fs-entity-width);
  justify-content: space-between;
  gap: 0.8vh;


  overflow-y: auto;
  /* scroll customization bellow */
}
.go-back-btn, .add-new-fse-btn {
  aspect-ratio: 4 / 5;
  width: 90%;


  border-radius: 17px;
  border: 2px dashed var(--color-5);

  align-self: center;
  justify-self: center;


  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  

  &__icon {
    width: 50%;
    height: 50%;
  }


  cursor: pointer;
  position: relative;


  // hover highlight
  &::before {
    content: '';

    border-radius: 17px;
    background-color: var(--color-5);

    position: absolute;
    left: -2px;
    top: -2px;
    width: calc(4px + 100%);
    height: calc(4px + 100%);

    opacity: 0;
    transition: opacity 0.08s;
  }
  &:hover::before {
    opacity: 0.3;
  }
}

.go-back-btn::after {
  content: 'Go back';
  font-size: calc((2.3vh - 0.15vw) / 1.3);
}
.add-new-fse-btn::after {
  content: 'New';
  font-size: calc((2.3vh - 0.15vw) / 1.3);
}



// entities
.fs-entity {
  width: 100%;

  padding-bottom: 5px;
  border-radius: 17px;

  aspect-ratio: 4 / 5;
  display: grid;
  grid-template-rows: 1fr min-content min-content;

  cursor: pointer;

  transition: background-color 0.08s;
  &:hover {
    background-color: var(--color-2);
  }
}

.fs-entity__name, .fs-entity__size {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.fs-entity__name {
  text-align: center;

  font-size: calc(2.3vh - 0.15vw);
}
.fs-entity__size {
  text-align: center;

  font-size: calc((2.3vh - 0.15vw) / 1.5);

  opacity: 0.6;
}

.fs-entity__icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.fs-entity__icon {
  height: 90%;
  width: 90%;
}